<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoUnzip.userSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AutoUnzip.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoUnzip.userSettings>
            <setting name="SourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ProgramFilePath" serializeAs="String">
                <value>C:\Program Files\7-Zip\7z.exe</value>
            </setting>
        </AutoUnzip.userSettings>
        <AutoUnzip.Settings1>
            <setting name="DefaultSourceFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDestinationFolder" serializeAs="String">
                <value />
            </setting>
        </AutoUnzip.Settings1>
    </userSettings>
</configuration>